package viewCommon 

script ClickAvt() {
	let profileMenu = document.getElementById("profileMenu");
	console.log("Clicked");
	profileMenu.classList.toggle("hidden");
}

templ Navbar() {
	<nav class="w-full bg-primary pt-5 pb-3 px-16 text-xl text-foreground flex justify-between fixed top-0 left-0 min-h-2.5"></nav>
}
